<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required Meta Tags Always Come First -->
		<meta charset="UTF-8" />
		<!-- Title -->
		<title>Body Care Products</title>
		<!-- css -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" />
		<link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.1.2/css/all.css" />
		<link rel="stylesheet" href="/css/header.css" />
		<link rel="stylesheet" href="/css/footer.css" />
		<%- include("body-care-css.ejs") %>
	</head>
	<body>
		<!-- ========== HEADER ========== -->
		<%- include("header.ejs") %>
		<!-- ========== END HEADER ========== -->

		<!-- ========== MAIN ========== -->
		<main>
			<div class="banner">
				<div class="py-5">
					<h1 class="my-0">Body Care</h1>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb m-0">
							<li class="breadcrumb-item"><a href="#">Home</a></li>
							<li class="breadcrumb-item"><a href="#">Face & Body Care </a></li>
							<li class="breadcrumb-item active" aria-current="page">Body Care</li>
						</ol>
					</nav>
				</div>
				<div class="row pb-4">
					<nav class="navbar navbar-expand-lg bg-light">
						<div class="container-fluid">
							<button
								class="navbar-toggler"
								type="button"
								data-bs-toggle="collapse"
								data-bs-target="#navbarSupportedContent"
								aria-controls="navbarSupportedContent"
								aria-expanded="false"
								aria-label="Toggle navigation"
							>
								<span class="navbar-toggler-icon"></span>
							</button>
							<div class="collapse navbar-collapse" id="navbarSupportedContent">
								<ul class="navbar-nav me-auto mb-2 mb-lg-0">
									<li class="nav-item dropdown">
										<a
											class="nav-link dropdown-toggle"
											href="#"
											role="button"
											data-bs-toggle="dropdown"
											aria-expanded="false"
										>
											CATEGORY
										</a>
										<ul class="dropdown-menu p-2">
											<li class="nav nav-pills flex-column">
												<a class="nav-link" href="#">Face</a>
												<a class="nav-link" href="#">Body Care</a>
												<a class="nav-link" href="#">Men</a>
											</li>
										</ul>
									</li>
									<li class="nav-item dropdown">
										<a
											class="nav-link dropdown-toggle"
											href="#"
											role="button"
											data-bs-toggle="dropdown"
											aria-expanded="false"
										>
											PRICE
										</a>
										<ul class="dropdown-menu p-2">
											<div class="form-check">
												<input
													class="form-check-input"
													type="radio"
													name="flexRadioDefault"
													id="$50"
												/>
												<label class="form-check-label" for="$50"> $0 -> $50 </label>
											</div>
											<div class="form-check">
												<input
													class="form-check-input"
													type="radio"
													name="flexRadioDefault"
													id="$100"
												/>
												<label class="form-check-label" for="$100"> $0 -> $100 </label>
											</div>
											<div class="form-check">
												<input
													class="form-check-input"
													type="radio"
													name="flexRadioDefault"
													id="$500"
												/>
												<label class="form-check-label" for="$500"> $0 -> $500 </label>
											</div>
										</ul>
									</li>
								</ul>
								<select
									class="form-select"
									aria-label="Default select example"
									style="width: 180px; border-radius: 0"
								>
									<option selected>SORT BY:</option>
									<option value="1">Best-Sellers</option>
									<option value="2">Most Popular</option>
									<option value="3">What's New</option>
									<option value="4">Price: High To Low</option>
									<option value="5">Price: Low To High</option>
									<option value="6">Recommended</option>
								</select>
							</div>
						</div>
					</nav>
				</div>
				<div class="row row-cols-1 row-cols-xl-4 row-cols-lg-3 row-cols-md-2 g-5">
					<!-- Modal -->
					<%for (let i = 0; i < bodycareProduct.length ; i++) { %>
					<div class="col justify-content-between">
						<div class="card h-100" style="width: 16rem">
							<a href="/product/detail/<%= bodycareProduct[i].PID %>">
								<div
									class="card-img-top carreaux_presentation_light mx-auto mt-1"
									style="background-image: url('<%=bodycareProduct[i].ProductIMG%>')"
									id="<%= bodycareProduct[i].PID %>"
								></div>
							</a>
							<div class="card-body">
								<h4 class="card-title pt-3"><%= bodycareProduct[i].ProductName %></h4>
								<p class="mb-1">Price from:</p>
								<p class="price dib mb__5">
									<ins>$ <%= bodycareProduct[i].ProductPrice%>.00</ins>
								</p>
								<button
									type="button"
									class="btn-view btn-success deroul_soustitre"
									data-bs-toggle="modal"
									data-bs-target="#exampleModal"
									id="<%= bodycareProduct[i].PID %>"
								>
									Quick View
								</button>
								<p class="card-text"></p>
								<!-- Button trigger modal -->
							</div>
						</div>
					</div>
					<% } %>
					<!-- Modal show hide -->
					<div
						class="modal fade"
						id="exampleModal"
						tabindex="-1"
						aria-labelledby="exampleModalLabel"
						aria-hidden="true"
					></div>
				</div>
				<div class="row mt-5">
					<div class="col-2"></div>
					<div class="col-8">
						<div class="html-slot-container" style="font-size: 14px; letter-spacing: 0.5px">
							<h5 style="font-weight: 600">
								Shop for the best body care products online at Clarins Singapore
							</h5>

							<h5 style="font-weight: 600">Importance of caring for your body</h5>
							<p>
								Your body deserves the best. When was the last time you pampered your body? The skin on
								your body is susceptible to dehydration, wrinkles and cellulite, which is why you should
								use body care products to replenish moisture, restore radiance and reduce the usual
								signs of ageing.
							</p>
							<h5 style="font-weight: 600">Body skin concerns</h5>
							<p>
								Stretch marks are common concerns among pregnant and new mothers. It’s natural for the
								skin to itch and develop stretch marks as it expands during pregnancy, but don’t worry.
							</p>
							<p>
								Our <strong><a href="#">maternity body care</a></strong> products are designed without
								harsh chemicals for the safety of mothers and babies. Use our mum-friendly
								<strong><a href="#">Body Partner Stretch Mark Expert</a></strong> on your thighs, hips,
								tummy and breasts to visibly reduce the appearance of stretch marks. Infused with
								Centella Asiatica, Banana and Hazelnut Oil, this fragrance-free cream introduces an
								ultra-sensorial formula as it glides over your skin to relieve tightness, soothe and
								restore skin density. Pair this with the firming
								<strong><a href="#">Tonic Body Treatment Oil</a></strong> for the best results.
							</p>
							<h5 style="font-weight: 600">Why choose Clarins body care?</h5>
							<p>
								What you apply on your skin matters, and the reason customers love Clarins’ body care is
								because our products are made with all-natural, plant-based ingredients that help
								nourish, protect and treat the skin. Our maternity care range contains no harsh
								chemicals or toxins, making them completely safe for pregnant moms and babies.
							</p>

							<h5 style="font-weight: 600">Clarins’ body care product range</h5>
							<p>
								Treat yourself to a spa-like shower with our
								<strong><a href="#">aroma body care products</a></strong
								>. Our <strong><a href="#">Relax Bath & Shower</a></strong> relaxes your mind and
								muscles with calming essential oils, while the
								<strong><a href="#">Tonic Bath & Shower Concentrate</a></strong> gently cleanses and
								tones your skin with a soothing blend of Rosemary, Geranium and Mint Oils.
							</p>
							<p>
								Hydrate dry skin with the <strong><a href="#">Tonic Citrus Body Lotion</a></strong
								>, a milky formula that melts into the skin to deliver deep hydration from Ispaghula and
								Hazelnut Oils. If you want to firm up slacking skin, the
								<strong><a href="#">Tonic Body Balm</a></strong> improves vitality and tones the skin
								with Apple Seed Oil and Ginseng extracts.
								<strong><a href="#">Body treatment oils</a></strong> are always a good idea. Our aroma
								body care oils contain aromatherapy benefits to calm your senses as well. If you want to
								sculpt and moisturise your body, our bestselling
								<strong><a href="#">Anti-Eau Body Treatment Oil</a></strong> is perfect for toning the
								skin and preventing dehydration.
							</p>
							<p>
								Shop more body care products on <a href="#"><b>our site</b></a>
							</p>
						</div>
					</div>
					<div class="col-2"></div>
				</div>
			</div>
		</main>
		<!-- ========== END MAIN ========== -->

		<!-- ========== FOOTER ========== -->
		<%- include("footer.ejs") %>
		<!-- ========== END FOOTER ========== -->

		<!-- ========== JS ========== -->
		<%- include("body-care-js.ejs") %>
		<script src="/js/header.js"></script>
	</body>
</html>
<div class="tag-group">
	<div class="tag-group__title">
		<a href="" class="tag-group__item"></a>
	</div>
</div>
